:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-white2: rgba(255, 255, 255, 0.6);
    --color-gray: rgba(245, 244, 250, 1);
    --color-gray2: rgba(117, 117, 117, 1);
    --color-dark: rgba(47, 48, 58, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-black2: rgba(33, 33, 33, 1);
    --color-blue: rgba(33, 150, 243, 1);
    --color-tlo1:rgba(47, 48, 58, 1);
    --color-fill: rgb(175, 177, 184);
    
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-black2);
    background-color: var(--color-white);
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 14px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(236, 236, 236);    
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--color-black);
    margin-right: 47px;
}
.logo .blue {
    color: var(--color-blue);
}
.link, .logo, 
.agencja-active-line,
.portfolio-active-line {
    text-decoration: none;
    color: #000;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    list-style: none;
    gap: 46px; 
    align-items: center;
}
.agencja-active-line::after {
    content: "";
    background-color: var(--color-blue);
    width: 53px;
    height: 4px;
    width: 51px;
    border-radius: 2px;
    position: absolute;
    display: block;
    top: 76px;
}
.portfolio-active-line::after {
    content: "";
    background-color: var(--color-blue);
    width: 58px;
    height: 4px;
    width: 51px;
    border-radius: 2px;
    position: absolute;
    display: block;
    top: 76px;
}
.agencja-active-line,
.portfolio-active-line {
  color: var(--color-blue);
}
.header-link {
    display: flex;
}
.contact {
    display: flex;
    align-items: center;
    color: var(--color-gray2);
    text-decoration: none;
    gap: 10px;
    margin-left: 10px;
}
.header-icon {
    list-style: none;
    display: flex;
    align-items: center; 
    fill: var(--color-gray2);
    margin-left: 30px;
} 
.link:hover, .link:focus,
.contact:hover, .contact:focus,
.smart:hover, .smart:focus,
.envelope:hover, .envelope:focus
 {
    color:var(--color-blue); 
    fill: var(--color-blue);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.efect-section, .img {     
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/Img-efect.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    color: var(--color-white);
    letter-spacing: 0.06em;
    text-align: center;
    padding: 200px 0;
  }
.efect-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
    text-align: center;
}
.efect-button-dark-bground {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
    width: 200px;
    height: 50px;
    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.lorem {
    font-size: 14px;
    list-style: none;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    gap: 30px;
    justify-content: space-between;    
}
.title-l {
   font-weight: 700;
   line-height: 1.14;
   letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 30px;
}
p {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-gray2);
}
.icons {
  margin: 25px 100px;
}
.icons-background {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
 }
.images {
  padding-top: 94px;
  margin-bottom: 94px;
}
.images-all {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.images-title {
  text-align: center;
}
.fot {
  list-style: none;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
}
.fot-opis {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 370px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background: rgba(47, 48, 58, 0.8);
}
.team {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--color-gray);
}
.team-title {
    padding-top: 94px;
}
.team-title,
.images-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;   
}
.teams {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.name {
    margin-top: 30px;
    margin-bottom: 10px;
}
.job {
    font-weight: 400;
    color: var(--color-gray2);
    padding-bottom: 20px;
}
.foto {
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 50px;
    margin-bottom: 94px; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-svg {
    display: flex;
    justify-content: space-between;
    fill: var(--color-fill);
    margin: 0 auto;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
    list-style: none;
}
.bg-team-icon-svg {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.bg-team-icon-svg:hover {
    fill: var(--color-white);
    background-color: var(--color-blue);
}
.team-icon {
    margin: 12px;
}
/* Portfolio */
.cursor {
    list-style: none;
    display: flex;
    gap: 8px; 
    align-items: center;
    justify-content: center;
}
.buttons {
    padding-top: 94px;
    padding-bottom: 50px;
}
.cursor-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    width: 121px;
    height: 38px;
    left: 510px;
    top: 174px;
    background-color: var(--color-gray);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cursor-button:hover, .cursor-button:focus {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);    
}
.all-cards {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    list-style: none;  
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 94px;
} 
.card {
    display: block;
    background:var(--color-white);
    border: 1px solid rgb(238, 238, 238);
    margin-bottom: 30px;
    }
.card-1 {
    list-style: none;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 4px;  
}
.card-2 {
    font-weight: 400;
    font-size: 16px;   
    letter-spacing: 0.03em;    
    color: var(--color-gray2);
       
}
.card:hover, .card:focus {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 
.overlay-position {
 padding-left: 24px;
 padding-top: 20px;
 padding-bottom: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background-color: var(--color-white);
}
.overlay-setup > li {
  position: relative;
  overflow: hidden;
}
.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms linear;
   border-top: 1px solid #eeeeee;
  color: var(--color-white);
}
.overlay-setup > li {
  width: 370px;
  font-size: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.overlay-setup > li:hover,
.overlay-setup > li:hover .overlay-box {
  transform: translateY(0);
}

/* Nasi klienci */
.our-clients-tittle {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.17;
    padding-bottom: 50px;
}
.our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-clients-logo-all {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.our-clients-icon {
    border: var(--color-fill) 1px solid;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--color-fill);
}
.our-clients-icon:hover, .our-clients-icon:focus {
    border: var(--color-blue) 1px solid;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--color-blue);
}
.footer {
    background: var(--color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.2;
    letter-spacing: 0.03em;
    display: flex;
    font-style: normal;
    }
.adress {
    font-style: normal;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-white);
    margin-bottom: 20px;
}
.footer-logo .blue {
    color: var(--color-blue);
}
.footer-mail, .footer-tel {    
    color: var(--color-white2);
    text-decoration: none;
}
.footer-icon-svg {
    display: flex;
    fill: var(--color-white);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    padding-right: 32px;
    padding-bottom: 30px;
    list-style: none;
}
.join-us {
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 70px;
}
.footer-layout {
     display: flex;
    list-style: none;
}
.join-icon {
    display: flex;
    gap: 10px;
    margin-left: 70px;
}
.bg-footer-icon-svg {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.bg-footer-icon-svg:hover {
    fill: var(--color-white);
    background-color: var(--color-blue);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.footer-icon {
    margin: 12px;
}

.newsletter {
  padding-top: 5px;
  margin-left: 70px;
}
.footer-icons-position {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  
  .footer-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  
  .footer-icon-box:focus,
  .footer-icon-box:hover {
    fill: var(--color-white);
    background-color: var(--color-blue);
  }

/*Footer form news letter */

.news-letter-email {
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--color-dark);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .news-letter-email::placeholder {
    font-size: 16px;
    line-height: 1, 25px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .news-letter-email:focus {
    border: 1px solid var(--color-blue);
    border-radius: 4px;
  }
  
  .news-letter-submit {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    width: 200px;
    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-white);
    text-align: left;
    fill: var(--color-white);
    cursor: pointer;
  }
  
  .news-letter-submit-svg {
    position: absolute;
    top: 13px;
    right: 24px;
  }
  
  /* Modal Window */
  
  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    opacity: 1;
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: initial;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  .close-btn:focus,
  .close-btn:hover {
    fill: var(--color-blue);
  }
  .modal-container {
    width: 448px;
    margin: 0 auto;
  }
  .modal-paragraph {
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black2);
  }
  .modal-label {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--color-gray2);
    padding-bottom: 10px;
  }
  .modal-label-textarea {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--color-gray2);
    padding-bottom: 20px;
  }
  .modal-svg-pos {
    position: absolute;
    top: 31px;
    left: 15px;
  }
  .modal-inputs {
    display: block;
    margin-top: 4px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    /* line-height: 1.17px; */
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  .modal-inputs:focus {
    border-color: var(--color-blue);
  }
  .modal-inputs:focus + svg {
    fill: var(--color-blue);
  }
  .modal-inputs::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-inputs:not(:placeholder-shown):required:invalid {
    border-color: rgb(247, 207, 9);
  }
  .modal-textarea {
    padding-left: 15px;
    resize: none;
  }
  .modal-checkbox {
    display: block;
    position: relative;
    padding-bottom: 30px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-gray2);
    cursor: pointer;
  }
  .modal-checkbox-style {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .modal-checkbox-style:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
    height: 150px;
    width: 160px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath id="Vector" d="M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z" fill="%23212121"/%3E%3C/svg%3E%0A');
  }
  .modal-checkbox-style:checked:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
    height: 15px;
    width: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon check'%3E%3Crect id='Rectangle 11' width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath id='Vector' d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/g%3E%3C/svg%3E");
  }
  .modal-links {
    color: rgba(33, 150, 243, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  .modal-links:focus,
  .modal-links:hover {
    color: rgba(33, 150, 243, 1);
  }
  .modal-links:visited {
    color: rgba(33, 150, 243, 1);
  }
  .modal-submit {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-white);
    cursor: pointer;
  }